.landing {
    background-color: #374259;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.inf {
    width: 100%;
    padding: 1%;
    text-align: center;
    color: black;
    margin-left: 7rem;
    font-family: Gadugi, sans-serif; 
    background-color: #2E8A99;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
}
.inf span {
    color:aquamarine
}
.download-cv {
    background-color: #4FC0D0;
    border-radius: 10px;
    padding: 10px;
    color: #2B2730;

    


}
    .download-cv:hover {
        background-color: #3BACBB;
        cursor: move;
        cursor: pointer;
    }


.photo {
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    position: relative; 
    overflow: hidden; 
}

    .photo img {
        max-width: 100%;
        width: 18rem;
        height: auto;
        border-radius: 8rem;
        background-color: #4E4FEB;
        border: solid 5px #4E4FEB;
    }

   
    
    .photo:hover img {
        transform: rotateY(180deg);
        transition:ease-in 2s
    }

  

.backend {
    padding: 2%;
    height:19rem;
    width:70rem;
    display:flex;
    margin:auto

}
