*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'OpenSans', sans-serif;
  

}
.Boddy {
  background-color: #463a5e;
}


.Home {
  border: 1px solid black;
  background-color: rebeccapurple;
  float: left;
  width: 100%;
}
.Homeimg {
  float: left;
  margin-top: 2rem;
  margin-left: 2rem;
}
.presentacion {
  float: left;
  margin-top: 2rem;
  margin-left: 2rem;
  border: 1px solid black;
  width: 30rem;
  height: 10rem;
  margin-top: 3em;
}
.Home img {
  height: 12rem;
  width: 15rem;
}
.lenguajes div {
  border: 1px solid black;
  float: left;
  margin-right: 1rem; 
  margin-top: 3rem;
  margin-left: 13rem;
}
.imagen {
  border: 1px solid black;
  float: left;
  margin-right: 3rem; 
  margin-top:1rem;
  margin-left: 9rem;

}
.imagen img {
  height: 12rem;
  width: 15rem;
  margin-right: 4rem;
}
.piePagina {
  border: 1px solid black;
  float: left;
  width: 100%;
  background-color: burlywood;
}

.presentacion {
  width: 30rem;
}

